
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>@ViewBag.v0</h1>

<div class="alert alert-primary">Toplam yetenek sayısı:@ViewBag.v1</div>
<div class="alert alert-info">Toplam yetenek puanı:@ViewBag.v2</div>
<div class="alert alert-success">Değeri 70'den büyük olan yetenek sayısı:@ViewBag.v3</div>
<div class="alert alert-warning">Yeteneklerin ortalama değeri:@ViewBag.v4</div>
<div class="alert alert-danger">Deneyim sayısı:@ViewBag.v5</div>
<div class="alert alert-dark">Alt başlığı developer sayısı:@ViewBag.v6</div>
<div class="alert alert-info">Alt başlığı okunan mesaj sayısı:@ViewBag.v7</div>
<div class="alert alert-primary">Alt başlığı okunmayan mesaj sayısı:@ViewBag.v8</div>
<div class="alert alert-warning">Alt başlığı toplam hizmet sayısı:@ViewBag.v9</div>
<div class="alert alert-danger">Alt başlığı toplam sosyal medya hesabı sayısı:@ViewBag.v10</div>

