@model Service
@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Hizmet Ekleme Sayfası</h1>
<form method="post">
    <label>Başlık</label>
    <input type="text" class="form-control" asp-for="Title" style="border:1px solid black" />
    <br />
    <label>Açıklma</label>
    <input type="text" class="form-control" asp-for="Description" style="border:1px solid black" />
    <br />
    <label>Icon</label>
    <input type="text" class="form-control" asp-for="Icon" style="border:1px solid black" />
    <br />
    <button class="btn btn-primary">Hizmet Ekle</button>

</form>
