@model Skill
@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Yetenek Güncelleme Sayfası</h2>

<form method="post">
    
    <input type="hidden" asp-for="SkillId" />
    <label>Yetenek Başlığı</label>
    <input type="text" class="form-control" asp-for="SkillName" style="border:1px solid black" />
    <br />
    <label>Yetenek Değeri</label>
    <input type="text" class="form-control" asp-for=" SkillValue" style="border:1px solid black " />
    <br />
    <button class="btn btn-info">Yetenek Güncelle</button>
</form>


  